<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Meu Site</title>
</head>
<body>
    <header>
        <div class="Menu">
            <h1>Meu Site</h1>
            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Portifólio</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="imagens">
        <!-- Slides do carrossel -->
        <img src="images/Astraldo.jfif" alt="Fotinha 1" id="fotos">
        <img src="images/gavião4.jfif" alt="Fotinha 2" id="fotos">
        <img src="images/nilo.jfif" alt="Fotinha 3" id="fotos">
    </div>

</body>
</html>